body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: overlay;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.value-positive {
  color: green;
  font-weight: bold;
}
.value-negative {
  color: red;
  font-weight: bold;
}
.value-info {
  color: blue;
  font-weight: bold;
}
.selectable {
  cursor: pointer;
}

#navigation #menu-info {
  width: 100%;
  text-align: right;
  padding: 0.25rem;
}
#navigation #menu-info button {
  vertical-align: top;
}
#navigation #menu-info #version {
  display: inline-block;
}

.ui.button:disabled.no-dim {
  opacity: 1!important;
}