body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: overlay;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.color-positive {
  color: green;
  font-weight: bold;
}
.color-negative {
  color: red;
  font-weight: bold;
}
.color-info {
  color: blue;
  font-weight: bold;
}
.color-orange {
  color: orange;
  font-weight: bold;
}
.color-red {
  color: rgb(255, 104, 104);
  font-weight: bold;
}
.color-blue {
  color: lightskyblue;
  font-weight: bold;
}
.color-attacker {
  color: #FFAA00AA;
  font-weight: bold;
}
.color-defender {
  color: #00AAFFAA;
  font-weight: bold;
}
.color-draw {
  color: #AAAAAAAA;
  font-weight: bold;
}

.selectable {
  cursor: pointer;
}

#navigation #menu-info {
  width: 100%;
  text-align: right;
  padding: 0.25rem;
}
#navigation #menu-info button {
  vertical-align: top;
}
#navigation #menu-info #version {
  display: inline-block;
}

.ui.button:disabled.no-dim {
  opacity: 1!important;
}

.small-input {
  width: 55px;
}